<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75759268664-0jerb8vgqaao05oa3vo8tinojf5ibc4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75759268664-0jerb8vgqaao05oa3vo8tinojf5ibc4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDrWtLhJ1ekGgHGSkbfjMCbJtmEIsL7R8s</string>
	<key>GCM_SENDER_ID</key>
	<string>75759268664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Virintus.GasMeUp</string>
	<key>PROJECT_ID</key>
	<string>gasmeup-7ce5f</string>
	<key>STORAGE_BUCKET</key>
	<string>gasmeup-7ce5f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75759268664:ios:b008ac36d751ec297dc7cd</string>
</dict>
</plist>
